@*<-- ####################################################################################################### -->*@
<div class="wrapper col4">
  <div id="container">
    <div id="hpage">
      <ul>
        <li>
          <h2>Update Marks</h2>
          <div class="imgholder"><a href="/Home/UpdateMarks"><img src="~/images/200x140.gif" alt="" /></a></div>
          
        </li>
        
        <li>
          <h2>MArk Attendance of Students</h2>
          <div class="imgholder"><a href="/Home/AttendanceOfStudents"><img src="~/images/200x140.gif" alt="" /></a></div>
          
        </li>
        <li class="last">
          <h2>Mark Personal Attendance</h2>
          <div class="imgholder"><a href="/Home/Attendance"><img src="~/images/200x140.gif" alt="" /></a></div>
          
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
